body {
  margin: 0;
}
canvas {
  /* DOUG 1: took the background out, and made sure that the canvas was centered on the screen */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}